html {
	box-sizing: border-box;

	--background-color: lightslategrey;
	// --gradient-start: #f2d50f;
	// --gradient-end: #da0641;
	--gradient-start: #0f72f2;
	--gradient-end: #06c7da;
	--accent-color: var(--gradient-end);
	--contrast-color: white;
	--copy: white;
	--dark: #333;
	--light: #fafafa;

}
*, *:before, *:after {
	box-sizing: inherit;
}

html, body, .main {
	height: 100%;
	margin: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 100%;
	background-color: var(--background-color);
	background: -moz-linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
	background: -ms-linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
	background: -o-linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
	background: -webkit-linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
	background: linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
}

.no-selection {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome and Opera */
}

::selection {
	background-color: #0c182f;
	color: var(--accent-color);
}

.main {
	display: flex;
	justify-content: center;
}

.wrapper {
	text-align: center;
	width: 80vw;
}

.title, .passphrase, .button, .footer {
	text-align: center;
	display: block;
}

.button, .ase {
	font-size: .7em;
}

.button {
	width: auto;
	margin: 1rem;
	padding: 1em;
	border: none;
	border-radius: .2em;
	font-size: 1.2rem;
	cursor: pointer;
	width: 100%;
	font-weight: 500;
	position: relative;
	max-width: 12em;
}

.button .icon {
	width: 1em;
	position: absolute;
	left: 0;
	margin-left: 1em;
}

.button-primary {
	background-color: var(--accent-color);
	color: white;
}

.button-secondary {
	background-color: transparent;
	color: white;
	box-shadow: inset 0 0 0 0.1em white;
}

.image {
	max-width: 50vw;
	max-height: 50vh;
}

.wrapper {
	text-align: center;
	width: 100vw;
	background-size: cover;
	padding: 2rem;
	background-position: center;
}

.card {
	display: flex;
	width: 50em;
	max-width: 100%;
	flex-direction: column;
	flex-wrap: initial;
	min-height: 100vh;
}

.card-header .icon {
	vertical-align: sub;
}

.content {
	align-items: center;
	padding: 1em;
	background: white;
	border-radius: .2em;
	margin: 1rem 0;

	flex: 1;
	background: transparent;
	align-items: center;
	justify-content: center;
}

.card .title {
	font-size: 1.25em;
	color: white;
	text-align: left;
	text-transform: uppercase;
}

.passphrase {
	width: 100%;
	border: none;
	line-height: 2em;
	white-space: pre-wrap;
	// color: #4a4a4a;
	color: #0c182f;
	font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
	// font-size: 1.4em;
	font-weight: 600;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	margin: 0;

	font-size: 1.6rem;
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}
.passphrase:focus {
	outline: none;
}

.controls {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	// justify-content: space-evenly;
}


.footer {
	color: #ffffffab;
}

.footer a {
	color: inherit;
}
